<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Informaciones
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentModel">
      <ion-segment-button value="Experiencia Laboral">
        Experiencia Laboral
      </ion-segment-button>
      <ion-segment-button value="Certificaciones">
        Certificaciones
      </ion-segment-button>
      <ion-segment-button value="Mis Datos">
        Mis Datos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="segmentModel === 'Experiencia Laboral'">
    <div class="exp">
      <h1>Experiencia Laboral</h1>

      <p class="ion-text-start ion-margin">Usuario: {{usuario}}</p>

      <ion-item>
        <ion-input label="Empresa" placeholder="Ej: Duoc"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Año Inicio</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date" id="datetime" [showDefaultButtons]="true"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-label>Año Termino</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date" id="datetime" [showDefaultButtons]="true"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-input label="Cargo" placeholder="Ej: CEO"></ion-input>
      </ion-item>

    </div>


  </div>

  <div class="Certificaciones" *ngIf="segmentModel === 'Certificaciones'">
<div class="Certificaciones">

  <h1>Certificaciones</h1>

  <p class="ion-text-start ion-margin">Usuario: {{usuario}}</p>

    <ion-item>
      <ion-input label="Nombre del certificado" placeholder="Ex: CEO"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de obtencion</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime presentation="date" id="datetime" [showDefaultButtons]="true"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de vencimiento</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime presentation="date" id="datetime" [showDefaultButtons]="true"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

</div>


  </div>

  <div *ngIf="segmentModel === 'Mis Datos'">

  <div class="datos">

    <h1>Informacion Adicional</h1>
    <p class="ion-text-start ion-margin">Usuario: {{usuario}}</p>

    <ion-item>
      <ion-input label="Nombre" placeholder="Ingrese su nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Apellido" placeholder="Ingrese su apellido" [(ngModel)]="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Nivel Educacional" placeholder="Seleccione Nivel" [multiple]="true"
        [(ngModel)]="nivelEducacional">
        <ion-select-option value="bsc">Enseñanza Básica</ion-select-option>
        <ion-select-option value="med">Enseñanza Media</ion-select-option>
        <ion-select-option value="sup">Enseñanza Superior</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <mat-form-field>
        <mat-label>MM/DD/YYYY</mat-label>
        <input #fechaNacimiento matInput [matDatepicker]="picker">
        <mat-hint>Fecha de nacimiento</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ion-item>

    <ion-item>
      <div class="action-button ion-padding">
        <ion-button size="small" class="clean-button" slot="end" (click)="limpiar()"
          (click)="ejecutarAnimacion()">Limpiar</ion-button>
        <ion-button size="small" class="show-button" id="present-alert" (click)="mostrar()">Mostrar</ion-button>
      </div>
    </ion-item>

  </div>

  </div>
</ion-content>
